.main-heading {
  // text-transform: uppercase;
  // margin: 0 0 20px 0;
  font-size: 42px;
}
.info {
  background-color: #6666667a;
}
.info h6 {
  font-size: 14px;
  font-weight: 500;
}
.info h6 strong {
  opacity: 0.6;
}
code {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}
._actionBtn {
  opacity: 1;
  transition: all .3s ease;
}
._actionBtn:hover {
  opacity: .75;
  transition: all .3s ease;
}
