<nav mat-tab-nav-bar class="d-none d-sm-flex">
    <div class="container">
    <a mat-tab-link
       *ngFor="let e of pages"
       [routerLink]="e.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive"
       [routerLinkActiveOptions]="{exact: true}"
       [disabled]="e.auth && !(isAuthenticated$ | async)">
      {{e.label | translate}}
    </a></div>
  </nav>
  
  <nav class="nav-responsive d-sm-none d-flex justify-content-center">
      <mat-select [placeholder]="'app.examples.title' | translate" [value]="''">
        <mat-option *ngFor="let e of pages"
          [value]="e"
          [routerLink]="e.link"
          [disabled]="e.auth && !(isAuthenticated$ | async)">
            {{e.label | translate}}
        </mat-option>
      </mat-select>
  </nav>
  
  <div [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
    <router-outlet #o="outlet"></router-outlet>
  </div>
  