$nzuqi-black-primary: mat-palette($mat-grey, 700, 300, 900);
$nzuqi-black-accent: mat-palette($mat-blue-grey, 400);
$nzuqi-black-warn: mat-palette($mat-red, 500);

$nzuqi-black-theme: mat-dark-theme(
  $nzuqi-black-primary,
  $nzuqi-black-accent,
  $nzuqi-black-warn
);
