$nzuqi-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$nzuqi-nature-accent: mat-palette($mat-deep-purple, 300);
$nzuqi-nature-warn: mat-palette($mat-red, 600);

$nzuqi-nature-theme: mat-light-theme(
  $nzuqi-nature-primary,
  $nzuqi-nature-accent,
  $nzuqi-nature-warn
);
